<% unless @previous_orders.empty? %>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Other Orders</span>
      <table>
      <thead>
        <tr>
          <th width="50">Date</th>
          <th width="50">Amount</th>
        </tr>
      </thead>
      <tbody>
      <% (@previous_orders - [@order]).each do |order| %>
        <tr>
          <td><%= link_to order.date.strftime('%m/%d/%y'), order_path(order) %></td>
          <td><%= number_to_currency order.grand_total %></td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
<% end %>