<%= render :partial => "partials/title_with_search", locals: {title: "Baking Factory Insights"} %>
<div id="tabbed">
  <tabs>

    <tab name="overview" v-bind:selected="true">
        <%= render :partial => "admin_overview" %>
    </tab>

    <tab name="top customers">
        <%= render :partial => "admin_top_customers" %>
    </tab>

    <tab name="popular items">
        <%= render :partial => "admin_popular_items" %>
    </tab>

  </tabs>
</div>
