<h4>Quick Actions</h4>

<div class="bar z-depth-1">
    <div class="quick">
        <p> vhuv</p>
    </div>
    <div class="searchy card">
        <input placeholder="search...">
        <i class="material-icons">search</i>
        <div class="search-results"></div>
        
    </div>
    <div class="icons">
        <p> njo</p>
    </div>


</div>
    