<div class="row">
	<div class="small-7 columns">
		<h2>Contact Bread Express</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>CJ May</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("cmay1@andrew.cmu.edu", "Click here to contact me!", :encode => "javascript") %> 
				</td>
			</tr>
		</table>

		<p class="note">Please contact me with any bug reports or questions.</p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>