<div class="row">
  <div class="small-7 columns">
    <%= render partial: "users/user_details"%>
    <%= render partial: "customer_details" %>
  </div>
</div>

<%= link_to "LOGIN", login_path, class: "waves-effect waves-light btn", id: "loginout" %>