<div class="row">
  <div class="col s7">
    <%= render :partial => "order_details" %>
  </div>
  <div class="col s5">
    <%= render partial: "partials/previous_orders", locals: {previous_orders: @previous_orders}  unless @previous_orders.empty?%>
  </div>
</div>

<%= render partial: "partials/object_options", locals: {model_name: "order", object: @order}  %>