<% items.each do |item| %>
    <div class="itembar z-depth-1 ">
        <div>
            <%= link_to(image_tag(item.picture.nil? ? 'no_image_found.png' : item.picture, id: 'topbar_image'), item) %>
        </div>
        <div>
            <%= item.name %>
        </div>
        <div class="searchy">
            <%= item.description%>
        </div>
    </div>
<% end %>